.cache
.ccache
.config/yadm/repo.git
.local/share/Trash
.mozilla
.config/Code - OSS/Cache*
.config/Code - OSS/log*
.config/zplug
.config/mpd/mpd.pid
.config/mpd/mpd.log
.config/mpd/mpdstate
.config/dconf
.config/discord
.config/libreoffice
.dbus
.local/share/gvfs-metadata
.local/share/mime
.thumbnails
.fehbg
