.cache
.ccache
.config/yadm/repo.git
.local/share/Trash
.mozilla
.config/Code - OSS
.config/zplug
.config/mpd/mpd.pid
.config/mpd/mpd.log
.config/mpd/mpdstate
.config/dconf
.config/discord
.config/libreoffice
.dbus
.local/share/gvfs-metadata
.local/share/mime
.thumbnails
.fehbg
.vscode-oss
.vscode
.config/Code
