configuration {
	padding: 24;
	hide-scrollbar: true;
	theme: "theme";
    font: "Monospace 12";
}

@import "colors.rasi"
@import "layout.rasi"
@import "font.rasi"

entry {
    text-color:        var(normal-foreground);
    spacing:           0;
    placeholder-color: var(background);
    placeholder:       "";
}

inputbar {
    padding:    1px ;
    spacing:    0px ;
    text-color: var(normal-foreground);
    children:   [ prompt,textbox-prompt-colon,entry ];
}
