configuration {
	/*modi: "run,drun,window";*/
	width: 60;
	lines: 12;
	columns: 3;
	font: "JetBrains Mono 12";
	bw: 2;
	location: 0;
	padding: 24;
	sidebar-mode: true;
	hide-scrollbar: true;
	show-icons: true;
	icon-theme: "Arc-X-D";
    separator-style: "solid";
}
